@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

// $BaseType
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: 24px;

$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, serif;
$condensed-font-family: "Gotham XNarrow A", "Gotham XNarrow B", "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
$serif-font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, serif;


// $Brand Colors

$primary-color:     #03A2CC;
$secondary-color:   #A74E9D;
$hot-color:       	#E44E9C;
$warm-color:     	#F8C084;
$wash-color:        #FEF5E1;