<article class="article aside clearfix">
  <div class="inner">
    <h6>JavaScript Namespace Pattern</h6>
    <p>We know that adding rich JavaScript interactions can sometimes be like the wild west. To keep things clean, we use "class-like" JavaScript namespacing for all our apps.</p>
  </div>
  <figure>
    <script src="https://gist.github.com/menslow/75155e5e9add4bbe7d66.js"></script>
  </figure>
</article>