<article class="article aside clearfix">
  <div class="inner">
    <h6>Middleman Configuration for Development and Production</h6>
    <p>We want our code to be optimized for production and easy to debug while in development. Here's how we achieve that through simple configuration in Middleman.</p>
  </div>
  <figure>
    <script src="https://gist.github.com/menslow/5780ebb313bb81cf709d.js"></script>
  </figure>
</article>