<article class="article aside clearfix">
  <div class="inner">
    <h6>Middleman Partials for Markup Patterns</h6>
    <p>We use the Middleman site builder for our Pattern Libraries. Doing this makes it very easy for developers to incorporate front-end patterns into their apps because it organizes markup components into simple, reusable partials.</p>
  </div>
  <figure>
    <script src="https://gist.github.com/menslow/f64d6d2b0eabf0775642.js"></script>
  </figure>
</article>