<article class="article aside clearfix">
  <div class="inner">
    <h6>Resources</h6>
    <ul>
      <li><a title="Ngaged Interactive Prototype" href="http://ngaged-proto.mistermachineshop.com">Ngaged Interactive Prototype</a>
      <li><a title="Responsive pattern library for N3twork web client" href="http://n3tpatterns.mistermachineshop.com">Responsive pattern library for N3twork web client</a>
      <li><a title="Responsive pattern library for Zeal Learning web client" href="http://zeal.mistermachineshop.com">Responsive pattern library for Zeal Learning web client</a>
    </ul>
  </div>
</article>



