<article class="article"> 

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h2 class="delta text-center condensed light caps rhythm-2">Background</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">Ngaged is a Brooklyn-based software and technology start-up focused on transforming the learning process for college universities and broader education markets. Ngaged offers a system that captures and records lectures for resulting in a massive archive of videos and transcripts.</p>
      <p>To increase the value of the resulting archive the team is actively developing tools to tag and index the data on a more granular level. These tools take the form of various “learning tools” which allow students the opportunity to engage with the material and actively enrich it through their participation.</p>
      <p>Ngaged has a small development team working in a custom Python environment with limited front end resources. The learning tools they develop are customized based on the needs of their University partners.</p>
    </div>
  </div>

</article>
