<article class="article"> 

  <div class="row">
    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">Ngaged is a Brooklyn-based software and technology start-up focused on transforming the learning process for the University and broader education market. Ngaged core offering is a system that captures and record lectures for archival purposes. The result is a massive database of videos and transcripts housed on the University servers.</p>
      <p>To increase the value of the resulting archive the team is actively developing tools to tag and index the data on a more granular level. These tools take the form of various “learning tools” which allow students the opportunity to engage with the material and actively enrich it through their participation.</p>
      <p>Ngaged has a small development team working in a custom Python environment with limited front end resources. The learning tools they are developing must be customized based on each of their University partners needs.</p>
    </div>
  </div>

</article>
