<footer class="footer">

  <section class="row">
    <div class="large-12 column">
      <p class="gamma serif rhythm-2">We build responsive web products for a growing community of clients. Our solutions are elegant, fast and secure. We're here to serve you.</p>
    </div>
  </section>

  <section class="sock">
    <div class="row">
      <div class="large-10 columns">
        <p class="copy sans">&copy; 2014, Mister Machine, LLC</p>
      </div>
    </div>
  </section>
</footer>