<section class="marketing-header primary-container">
  <div class="row">
  	<h2 class="epsilon text-center condensed light caps rhythm-2">Mister Machine Presents</h2>
    <h1 class="text-center serif">Component Thinking for Ngaged Software</h1>
    <nav class="navigation inline-list show-for-medium-up">
      <%= partial "shared/_nav" %>
    </nav>
  </div>
</section>