<section class="marketing-header primary-container">
  <div class="row">
    <h1 class="medium-left">Component Thinking with Ngaged</h1>
    <nav class="navigation medium-right inline-list">
      <%= partial "shared/_nav" %>
    </nav>
  </div>
</section>