<section class="marketing-header">
  <div class="row">
    <h1 class="text-center serif">Component Thinking with Ngaged</h1>
    <nav class="navigation inline-list">
      <%= partial "shared/_nav" %>
    </nav>
  </div>
</section>