<ul class="medium-9 medium-centered columns">
  <li class="medium-4 columns"><a href="#background"><span class="icon-comment"></span> Background</a></li>
  <li class="medium-4 columns"><a href="#project"><span class="icon-channels"></span> Project</a></li>
  <li class="medium-4 columns"><a href="#solutions"><span class="icon-profile"></span> Solutions</a></li>
</ul>
