<ul class="">
  <li><a href="#background"><span class="icon-comment"></span> Background</a></li>
  <li><a href="#project"><span class="icon-channels"></span> Project</a></li>
  <li><a href="#solutions"><span class="icon-profile"></span> Solutions</a></li>
</ul>
