<ul class="">
	<li><a href=""><span class="icon-comment"></span> Get Started</a></li>
	<li><a href=""><span class="icon-channels"></span> Why Cloudstead?</a></li>
	<li><a href=""><span class="icon-profile"></span> How it Works</a></li>
	<li><a href=""><span class="icon-star"></span> Developers</a></li>
</ul>
