<article class="article"> 

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h2 class="text-center">Project Overview</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="large-9 large-centered columns">
      <p class="lead">Ngaged was contracted by NYU to develop its strategy around courseware, distance learning, and mobile engagement. The pilot program would extend the University’s efforts to adopt the open source Sakai platform. The Sakai Environment provides a flexible system for teaching, learning, research and collaboration.</p>
      <p>While Sakai is a great tool for many professor admin tasks, it lacks any rich classroom interactions. We were contracted to help the Ngaged team to design a mobile first strategy that would allow the developers to test user scenarios over the course of the pilot program.</p>
    </div>
  </div>

</article>
