<article class="article"> 

<header>
<div class="row">
<div class="large-12 columns">
<div class="hgroup overflow">
<h2 class="delta text-center condensed light caps rhythm-2">Solutions</h2>
<h3 class="gamma text-center light rhythm-2">Research</h3>
</div>
</div>
</div>
</header>

<div class="row rhythm-2">
<div class="large-9 medium-10 small-11 small-centered columns">
<p class="lead">After an initial review we saw that they were using the same workflows to satisfy three distinctly different user groups: Administrators, Professors and Students. We made the decision early on to focus on the Student Persona to increase adoption of the system.</p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/research1.jpg">
<figcaption class="large-9 large-centered columns">
<p>On the left we documented the original desktop web app and on the right began a high level usability review based on our immediate reactions. </p>
</figcaption>
</figure>
</div>

<div class="large-9 medium-10 small-11 small-centered columns">
<p>A survey of participants told us that an increasing number of students were using multiple devices to access the material so we needed to design in a modular and responsive way to ensure usability.</p>
</div>


<div class="large-12 columns">
<figure>
<img src="images/research2.jpg">
<figcaption class="large-9 large-centered columns">
<p>On the left we drafted the source order and to the right we mocked up several layout grids based on the competitive landscape and our own product metaphor.</p>
</figcaption>
</figure>
</div>

<div class="large-9 large-centered columns rhythm-2">
</div>
</div>

<header>
<div class="row">
<div class="large-12 columns">
<div class="hgroup overflow">
<h3 class="gamma text-center light rhythm-2">Responsive Components</h3>
</div>
</div>
</div>
</header>

<div class="row rhythm-2">
<div class="large-9 medium-10 small-11 small-centered columns">
<p class="lead">The fully featured desktop experience entailed a very complex UI which did not translate well to small screens. As part of our mobile first approach, we began the process of grouping user interactions into silos of engagement and drafted a number of user stories to determine what the starter interactions were which would set off a chain of more complex scenarios. </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/responsive1.jpg">
<figcaption class="large-9 large-centered columns">
<p>We started with the smallest screens first to ensure all core functionality was available based on our primary user story.</p>
</figcaption>
</figure>
</div>

<div class="large-9 medium-10 small-11 small-centered columns">
<p>We focused on bookmarking component as the core entry point for all Student interactions. If the classroom experience was based on a timeline, then a user "flagging" or interrupting that flow had the most potential for generating fidelity around the relevance of a particular moment in time to the group. Bookmarking could then branch into more complex features such as notes, discussions and questions. </p>
</div>


<div class="large-12 columns">
<figure>
<img src="images/responsive2.jpg">
<figcaption class="large-9 large-centered columns">
<p>Adding bookmarks is the primary action across all mobile screens. </p>
</figcaption>
</figure>
</div>

<div class="large-9 large-centered columns rhythm-2">
</div>
</div>

<header>
<div class="row">
<div class="large-12 columns">
<div class="hgroup overflow">
<h3 class="gamma text-center light rhythm-2">Prototyping</h3>
</div>
</div>
</div>
</header>

<div class="row rhythm-2">
<div class="large-9 medium-10 small-11 small-centered columns">
<p class="lead">We produced an HTML prototype for the web application from the Student perspective. In the prototype, we focused on the mobile bookmarking process and navigating off-canvas discussions along a timeline. We wanted to test key user triggers and balance subtler micro interactions. </p>

<p>When the project needs shifted to a Native client, we took a step back and produced a series of user stories and wireframes that would satisfy Native conventions for both tablet and small screens.  </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/prototype2.jpg">
<figcaption class="large-9 large-centered columns">
<p>In the live scenario, our key user action became type input and those triggers had to be scale across multiple viewports. </p>
</figcaption>
</figure>
</div>

<div class="large-9 medium-10 small-11 small-centered columns">
<p>The Native client produced a variation on the core Asynchronous user story which was a Real-time classroom scenario. Unlike Asynch, which has the convenience of starting and stopping the lecture, the Real-time scenario developed more messaging and collaborative features to engage users in real-time. </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/prototype1.jpg">
<figcaption class="large-9 large-centered columns">
<p>All of our navigation elements now had to conform to tablet ergonomics and touch points. 
 </p>
</figcaption>
</figure>
</div>

<div class="large-9 medium-10 small-11 small-centered columns">
<p>When prototyping for Native we used the Foundation framework to rapidly produce interaction patterns for illustration purposes. Since the markup wouldn’t be used in production, a pre-built framework allowed us to quickly test assumptions and deliver the most value.</p>
</div>

<div class="large-9 large-centered columns rhythm-2">
</div>
</div>

<header>
<div class="row">
<div class="large-12 columns">
<div class="hgroup overflow">
<h3 class="gamma text-center light rhythm-2">Pattern Library</h3>
</div>
</div>
</div>
</header>

<div class="row rhythm-2">
<div class="large-9 medium-10 small-11 small-centered columns">
<p class="lead">We output all of the “branded” UI elements to a single Pattern Library to ensure that developers had a repository from which they could assemble complex layouts. We used Sass to develop partials and components in a object oriented manner that would allow the developers to customize individual builds. </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/code1.jpg">
<figcaption class="large-9 large-centered columns">
<p>All key elements are mapped and documented in a pattern library. </p>
</figcaption>
</figure>
</div>

<div class="large-9 medium-10 small-11 small-centered columns">
<p>When developing markup patterns, we built individual components that would scale up in complexity based on the context implied by the viewport. We developed a grid and layout systems that would take advantage of off-canvas events on mobile and grow into a multi-media experience on desktop. </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/pattern2.jpg">
<figcaption class="large-9 large-centered columns">
<p>The timeline was one key component that would change drastically based on viewport.  It runs horizontally on desktop and defaults to a vertical orientation on smaller screens. </p>
</figcaption>
</figure>
</div>

<div class="large-9 large-centered columns">
</div>
</div>

<header>
<div class="row">
<div class="large-12 columns">
<div class="hgroup overflow">
<h3 class="gamma text-center light rhythm-2">Visual Mockups</h3>
</div>
</div>
</div>
</header>

<div class="row rhythm-2">
<div class="large-9 medium-10 small-11 small-centered columns">
<p class="lead">We still needed to document details of the application that we didn’t have time to include in the prototype, in order to ensure the developers had a visual roadmap. After the process of style patterning and mechanical prototyping, we were able produce much more informed documentation. </p>

<p>We were able to leverage output from our time "in-browser", and focus on defining a level of fidelity that Photoshop excels at. Depending on the context, we used the tool that immediately allowed us to produce the most valuable artifact for the product. </p>
</div>

<div class="large-12 columns">
<figure>
<img src="images/responsive3.jpg">
<figcaption class="large-9 large-centered columns">
<p>Rather than rely on visual mockups in the beginning, we used them to detail nuances as well as dynamic states within the application.</p>
</figcaption>
</figure>
</div>

<div class="large-12 columns">
<figure>
<img src="images/pattern1.jpg">
<figcaption class="large-9 large-centered columns">
<p>Users on different devices are served different UI elements and feature sets based on their device. All of this is running off the same set of templates.</p>
</figcaption>
</figure>
</div>

<div class="large-9 large-centered columns">
</div>
</div>

</article>

