<article class="article"> 

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h2 class="text-center">Solutions</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="large-9 large-centered columns">
      <p>After an initial review we saw that they were using the same workflows to satisfy three distinctly different user groups: Administrators, Professors and Students. We made the decision early on to focus on the Student Persona to increase adoption of the system.</p>
    </div>

    <div class="large-12 columns">
    	<figure>
    		<img src="images/research1.jpg">
    		<figcaption class="large-10 large-centered columns">
    			<p>On the left we documented the current desktop web app and on the right began a high level usability review based on our immediate reactions. </p>
    		</figcaption>
    	</figure>
    </div>
  </div>

      <div class="large-9 large-centered columns">
      <p>All of the numbers also told us that an increasing number of students were using multiple devices to access the material so we needed to design in a modular and responsive way to ensure usability.</p>
    </div>

</article>


