<nav class="tab-bar top-bar" data-top-bar>
	<section class="tab-bar-section show-for-small-only">
		<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
	</section>

	<section class="tab-bar-section show-for-medium-up">
		<%= partial "shared/_logo" %>
	</section>


	<section class="right show-for-medium-up top-bar-section">
		<%= partial "shared/_nav" %>
	</section>
</nav>

<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Cloudstead</label></li>
		<li><a href="#">Why Cloudstead?</a></li>
		<li><a href="#">How it Works</a></li>
		<li><a href="#">Developers</a></li>
	</ul>
</aside>