
<section id="background" class="deck">

  <%= partial "shared/_background" %>

</section>

<section id="project" class="deck">

  <%= partial "shared/_project" %>

</section>

<section id="solutions" class="deck">

  <%= partial "shared/_solutions" %>

</section>