.tab-bar, .tab-bar-section {
	height: 150px;
}

.tab-bar {
	background-color: $primary-color;
	margin-bottom: 3em;
}

.top-bar-section a {
	font-family: $font-family !important;
	padding: 0 20px !important;
}

.navigation {
	text-align: center;
	
	ul {
		overflow: hidden;	
	}	

	li {
		display: block;
		list-style: none;
		text-align: center;

		@media #{$medium-up} {
			float: left;
		}	
	}

	a {
		display: block;
		font-family: $sans-font-family;
		line-height: 4rem;
		padding: 0 1em;
	}
}